@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model IEnumerable<ToDo>

<div class="row">
@foreach (var item in Model)
{
        <div class="col-4 mb-4">
            <div class="card p-4 shadow">
                <h3>@item.Title</h3>
                <p>@item.Description</p>
                <span>Status: @(item.IsCompleted ? "Completed" : "Pending")</span>
                    <hr />
                <div class="d-flex justify-content-between">
                    <div class="w-25">
                        @if(item.IsCompleted)
                        {
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                        }
                    </div>
                    <div>
                        <a class="btn btn-edit" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        @if (!item.IsCompleted)
                        {
                            <a class="btn btn-success" asp-action="Completed" asp-route-id="@item.Id">Terminada</a>
                        }
                        else
                        {
                            <a class="btn btn-success" asp-action="Completed" asp-route-id="@item.Id">No Terminada</a>
                        }
                    </div>
                </div>
            </div>
        </div>
}
</div>
